# Making changes? https://github.com/nektos/act may help you test locally

name: Build And Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Check out
        uses: actions/checkout@v2
      # Set up the different versions we target for multirelease
      # plus latest Java
      - name: Setup JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Setup JDK 9
        uses: actions/setup-java@v1
        with:
          java-version: 9
      - name: Setup JDK 10
        uses: actions/setup-java@v1
        with:
            java-version: 10
      - name: Setup JDK 14
        uses: actions/setup-java@v1
        with:
            java-version: 14
      - name: Cache Gradle packages
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build with Gradle
        run: >
          ./gradlew -P javaHomes.8=${{ env.JAVA_HOME_8_x64 }} \
            -P javaHomes.9=${{ env.JAVA_HOME_9_x64 }} \
            -P javaHomes.10=${{ env.JAVA_HOME_10_x64 }} \
            build
      - name: Archive test results
        uses: actions/upload-artifact@v2-preview
        with:
          name: test-results
          path: configurate-*/build/test-results/test

